<a href="https://colab.research.google.com/github/GabeMaldonado/DS4A_repo/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Team 5
## Data Cleaning II Notebook

In this notebook we will built on what we coded in the Data Cleaning I assignment and enhance the data cleaning process for our data.

Please note that the dataset was moved to a github repository and we will retrieve the data from its URL using pandas.

In [1]:
# import required lobraries
import numpy as np
import pandas as pd

In [2]:
# Configuring data output options
# To read all characters in the column
pd.set_option('display.max_colwidth', None)

# to display all rows
pd.set_option('display.max_rows', None)

In [3]:
# Load up the data dictionary as well to reference the columns and keys to facilitate feature selection

# Load the data dictionary to df called data_dict
data_dict_link = 'https://github.com/GabeMaldonado/DS4A_repo/blob/main/DS4A_Project/Datasets/Loan%20Data/Data_Dictionary.xlsx?raw=True'

data_dict = pd.read_excel(data_dict_link)
data_dict

                        LoanStatNew                                                                                                                                                                                                         Description
0                    acc_now_delinq                                                                                                                                                     The number of accounts on which the borrower is now delinquent.
1              acc_open_past_24mths                                                                                                                                                                          Number of trades opened in past 24 months.
2                        addr_state                                                                                                                                                          The state provided by the borrower in the loan application
3                          all_util                                                                                                                                                                               Balance to credit limit on all trades
4                        annual_inc                                                                                                                                       The self-reported annual income provided by the borrower during registration.
5                  annual_inc_joint                                                                                                                           The combined self-reported annual income provided by the co-borrowers during registration
6                  application_type                                                                                                                Indicates whether the loan is an individual application or a joint application with two co-borrowers
7                       avg_cur_bal                                                                                                                                                                             Average current balance of all accounts
8                    bc_open_to_buy                                                                                                                                                                           Total open to buy on revolving bankcards.
9                           bc_util                                                                                                                               Ratio of total current balance to high credit/credit limit for all bankcard accounts.
10         chargeoff_within_12_mths                                                                                                                                                                              Number of charge-offs within 12 months
11          collection_recovery_fee                                                                                                                                                                                      post charge off collection fee
12       collections_12_mths_ex_med                                                                                                                                                    Number of collections in 12 months excluding medical collections
13                      delinq_2yrs                                                                                                        The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years
14                      delinq_amnt                                                                                                                                  The past-due amount owed for the accounts on which the borrower is now delinquent.
15                             desc                                                                                                                                                                           Loan description provided by the borrower
16                              dti            A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income.
17                        dti_joint  A ratio calculated using the co-borrowers' total monthly payments on the total debt obligations, excluding mortgages and the requested LC loan, divided by the co-borrowers' combined self-reported monthly income
18                 earliest_cr_line                                                                                                                                                   The month the borrower's earliest reported credit line was opened
19                       emp_length                                                                                  Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.
20                        emp_title                                                                                                                                                 The job title supplied by the Borrower when applying for the loan.*
21                  fico_range_high                                                                                                                                        The upper boundary range the borrower’s FICO at loan origination belongs to.
22                   fico_range_low                                                                                                                                        The lower boundary range the borrower’s FICO at loan origination belongs to.
23                      funded_amnt                                                                                                                                                      The total amount committed to that loan at that point in time.
24                  funded_amnt_inv                                                                                                                                        The total amount committed by investors for that loan at that point in time.
25                            grade                                                                                                                                                                                              LC assigned loan grade
26                   home_ownership                                                                                                 The home ownership status provided by the borrower during registration. Our values are: RENT, OWN, MORTGAGE, OTHER.
27                               id                                                                                                                                                                       A unique LC assigned ID for the loan listing.
28                          il_util                                                                                                                                      Ratio of total current balance to high credit/credit limit on all install acct
29              initial_list_status                                                                                                                                                  The initial listing status of the loan. Possible values are – W, F
30                           inq_fi                                                                                                                                                                                Number of personal finance inquiries
31                     inq_last_12m                                                                                                                                                                        Number of credit inquiries in past 12 months
32                   inq_last_6mths                                                                                                                                    The number of inquiries in past 6 months (excluding auto and mortgage inquiries)
33                      installment                                                                                                                                                    The monthly payment owed by the borrower if the loan originates.
34                         int_rate                                                                                                                                                                                           Interest Rate on the loan
35                          issue_d                                                                                                                                                                                 The month which the loan was funded
36               last_credit_pull_d                                                                                                                                                                The most recent month LC pulled credit for this loan
37             last_fico_range_high                                                                                                                                                The upper boundary range the borrower’s last FICO pulled belongs to.
38              last_fico_range_low                                                                                                                                                The lower boundary range the borrower’s last FICO pulled belongs to.
39                  last_pymnt_amnt                                                                                                                                                                                  Last total payment amount received
40                     last_pymnt_d                                                                                                                                                                                     Last month payment was received
41                        loan_amnt                                        The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value.
42                      loan_status                                                                                                                                                                                          Current status of the loan
43                       max_bal_bc                                                                                                                                                              Maximum current balance owed on all revolving accounts
44                        member_id                                                                                                                                                                    A unique LC assigned Id for the borrower member.
45               mo_sin_old_il_acct                                                                                                                                                                 Months since oldest bank installment account opened
46             mo_sin_old_rev_tl_op                                                                                                                                                                        Months since oldest revolving account opened
47            mo_sin_rcnt_rev_tl_op                                                                                                                                                                   Months since most recent revolving account opened
48                   mo_sin_rcnt_tl                                                                                                                                                                             Months since most recent account opened
49                         mort_acc                                                                                                                                                                                        Number of mortgage accounts.
50           mths_since_last_delinq                                                                                                                                                         The number of months since the borrower's last delinquency.
51      mths_since_last_major_derog                                                                                                                                                                     Months since most recent 90-day or worse rating
52           mths_since_last_record                                                                                                                                                                  The number of months since the last public record.
53               mths_since_rcnt_il                                                                                                                                                                Months since most recent installment accounts opened
54             mths_since_recent_bc                                                                                                                                                                   Months since most recent bankcard account opened.
55         mths_since_recent_bc_dlq                                                                                                                                                                       Months since most recent bankcard delinquency
56            mths_since_recent_inq                                                                                                                                                                                   Months since most recent inquiry.
57   mths_since_recent_revol_delinq                                                                                                                                                                     Months since most recent revolving delinquency.
58                     next_pymnt_d                                                                                                                                                                                         Next scheduled payment date
59            num_accts_ever_120_pd                                                                                                                                                                   Number of accounts ever 120 or more days past due
60                   num_actv_bc_tl                                                                                                                                                                        Number of currently active bankcard accounts
61                  num_actv_rev_tl                                                                                                                                                                         Number of currently active revolving trades
62                      num_bc_sats                                                                                                                                                                            Number of satisfactory bankcard accounts
63                        num_bc_tl                                                                                                                                                                                         Number of bankcard accounts
64                        num_il_tl                                                                                                                                                                                      Number of installment accounts
65                    num_op_rev_tl                                                                                                                                                                                   Number of open revolving accounts
66                    num_rev_accts                                                                                                                                                                                        Number of revolving accounts
67              num_rev_tl_bal_gt_0                                                                                                                                                                          Number of revolving trades with balance >0
68                         num_sats                                                                                                                                                                                     Number of satisfactory accounts
69                 num_tl_120dpd_2m                                                                                                                                           Number of accounts currently 120 days past due (updated in past 2 months)
70                     num_tl_30dpd                                                                                                                                            Number of accounts currently 30 days past due (updated in past 2 months)
71               num_tl_90g_dpd_24m                                                                                                                                                       Number of accounts 90 or more days past due in last 24 months
72               num_tl_op_past_12m                                                                                                                                                                         Number of accounts opened in past 12 months
73                         open_acc                                                                                                                                                      The number of open credit lines in the borrower's credit file.
74                      open_acc_6m                                                                                                                                                                              Number of open trades in last 6 months
75                      open_il_12m                                                                                                                                                             Number of installment accounts opened in past 12 months
76                      open_il_24m                                                                                                                                                             Number of installment accounts opened in past 24 months
77                       open_il_6m                                                                                                                                                                       Number of currently active installment trades
78                      open_rv_12m                                                                                                                                                                 Number of revolving trades opened in past 12 months

In [4]:
# Load up load the dataset from the github repo  to df_loan_data
loan_data_link = 'https://github.com/GabeMaldonado/DS4A_repo/blob/main/DS4A_Project/Datasets/Loan%20Data/loan.xlsx?raw=True'
df_loan_data = pd.read_excel(loan_data_link)

In [5]:
# Sample/display 10 random values to get an overall idead of the data
df_loan_data.sample(10)

            id  member_id  ...  total_bc_limit  total_il_high_credit_limit
9802    836427    1046461  ...             NaN                         NaN
4205   1006581    1232994  ...             NaN                         NaN
9658    837231    1047351  ...             NaN                         NaN
38940   296903     296900  ...             NaN                         NaN
11112   820510    1028740  ...             NaN                         NaN
26818   562819     724214  ...             NaN                         NaN
26139   573515     737697  ...             NaN                         NaN
5370    986749    1210693  ...             NaN                         NaN
29630   520090     672327  ...             NaN                         NaN
3296   1020958    1249953  ...             NaN                         NaN

[10 rows x 111 columns]

Now that we have the data loaded into a df, we can inspect its datatype as well as counting the `nans`.

In [6]:
# get info about the dataframe: datatype and number of nans
df_loan_data.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 111 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              39717 non-null  int64
 1   member_id                       39717 non-null  int64
 2   loan_amnt                       39717 non-null  int64
 3   funded_amnt                     39717 non-null  int64
 4   funded_amnt_inv                 39717 non-null  float64
 5   term                            39717 non-null  object
 6   int_rate                        39717 non-null  float64
 7   installment                     39717 non-null  float64
 8   grade                           39717 non-null  object
 9   sub_grade                       39717 non-null  object
 10  emp_title                       37258 non-null  object
 11  emp_length                      38642 non-null  object
 12  home_ownership                  39717 non-null  object
 13  annual_inc                      39717 non-null  float64
 14  verification_status             39717 non-null  object
 15  issue_d                         39717 non-null  datetime64[ns]
 16  loan_status                     39717 non-null  object
 17  pymnt_plan                      39717 non-null  object
 18  url                             39717 non-null  object
 19  desc                            26777 non-null  object
 20  purpose                         39717 non-null  object
 21  title                           39705 non-null  object
 22  zip_code                        39717 non-null  object
 23  addr_state                      39717 non-null  object
 24  dti                             39717 non-null  float64
 25  delinq_2yrs                     39717 non-null  int64
 26  earliest_cr_line                39717 non-null  datetime64[ns]
 27  inq_last_6mths                  39717 non-null  int64
 28  mths_since_last_delinq          14035 non-null  float64
 29  mths_since_last_record          2786 non-null   float64
 30  open_acc                        39717 non-null  int64
 31  pub_rec                         39717 non-null  int64
 32  revol_bal                       39717 non-null  int64
 33  revol_util                      39667 non-null  float64
 34  total_acc                       39717 non-null  int64
 35  initial_list_status             39717 non-null  object
 36  out_prncp                       39717 non-null  float64
 37  out_prncp_inv                   39717 non-null  float64
 38  total_pymnt                     39717 non-null  float64
 39  total_pymnt_inv                 39717 non-null  float64
 40  total_rec_prncp                 39717 non-null  float64
 41  total_rec_int                   39717 non-null  float64
 42  total_rec_late_fee              39717 non-null  float64
 43  recoveries                      39717 non-null  float64
 44  collection_recovery_fee         39717 non-null  float64
 45  last_pymnt_d                    39646 non-null  datetime64[ns]
 46  last_pymnt_amnt                 39717 non-null  float64
 47  next_pymnt_d                    1140 non-null   datetime64[ns]
 48  last_credit_pull_d              39715 non-null  datetime64[ns]
 49  collections_12_mths_ex_med      39661 non-null  float64
 50  mths_since_last_major_derog     0 non-null      float64
 51  policy_code                     39717 non-null  int64
 52  application_type                39717 non-null  object
 53  annual_inc_joint                0 non-null      float64
 54  dti_joint                       0 non-null      float64
 55  verification_status_joint       0 non-null      float64
 56  acc_now_delinq                  39717 non-null  int64
 57  tot_coll_amt                    0 non-null      float64
 58  tot_cur_bal                     0 non-null      float64
 59  open_acc_6m                     0 non-null      float64
 60  open_il_6m                      0 non-null      float64
 61  open_il_12m                     0 non-null      float64
 62  open_il_24m                     0 non-null      float64
 63  mths_since_rcnt_il              0 non-null      float64
 64  total_bal_il                    0 non-null      float64
 65  il_util                         0 non-null      float64
 66  open_rv_12m                     0 non-null      float64
 67  open_rv_24m                     0 non-null      float64
 68  max_bal_bc                      0 non-null      float64
 69  all_util                        0 non-null      float64
 70  total_rev_hi_lim                0 non-null      float64
 71  inq_fi                          0 non-null      float64
 72  total_cu_tl                     0 non-null      float64
 73  inq_last_12m                    0 non-null      float64
 74  acc_open_past_24mths            0 non-null      float64
 75  avg_cur_bal                     0 non-null      float64
 76  bc_open_to_buy                  0 non-null      float64
 77  bc_util                         0 non-null      float64
 78  chargeoff_within_12_mths        39661 non-null  float64
 79  delinq_amnt                     39717 non-null  int64
 80  mo_sin_old_il_acct              0 non-null      float64
 81  mo_sin_old_rev_tl_op            0 non-null      float64
 82  mo_sin_rcnt_rev_tl_op           0 non-null      float64
 83  mo_sin_rcnt_tl                  0 non-null      float64
 84  mort_acc                        0 non-null      float64
 85  mths_since_recent_bc            0 non-null      float64
 86  mths_since_recent_bc_dlq        0 non-null      float64
 87  mths_since_recent_inq           0 non-null      float64
 88  mths_since_recent_revol_delinq  0 non-null      float64
 89  num_accts_ever_120_pd           0 non-null      float64
 90  num_actv_bc_tl                  0 non-null      float64
 91  num_actv_rev_tl                 0 non-null      float64
 92  num_bc_sats                     0 non-null      float64
 93  num_bc_tl                       0 non-null      float64
 94  num_il_tl                       0 non-null      float64
 95  num_op_rev_tl                   0 non-null      float64
 96  num_rev_accts                   0 non-null      float64
 97  num_rev_tl_bal_gt_0             0 non-null      float64
 98  num_sats                        0 non-null      float64
 99  num_tl_120dpd_2m                0 non-null      float64
 100 num_tl_30dpd                    0 non-null      float64
 101 num_tl_90g_dpd_24m              0 non-null      float64
 102 num_tl_op_past_12m              0 non-null      float64
 103 pct_tl_nvr_dlq                  0 non-null      float64
 104 percent_bc_gt_75                0 non-null      float64
 105 pub_rec_bankruptcies            39020 non-null  float64
 106 tax_liens                       39678 non-null  float64
 107 tot_hi_cred_lim                 0 non-null      float64
 108 total_bal_ex_mort               0 non-null      float64
 109 total_bc_limit                  0 non-null      float64
 110 total_il_high_credit_limit      0 non-null      float64
dtypes: datetime64[ns](5), float64(76), int64(13), object(17)
memory usage: 33.6+ MB

Looks like we have lots of empty columns. Empty columnns are not relevant for our analyssis as they contain no value information. These empty columns can be safely dropped from the df.

In [7]:
# get the all the names for the empty columns and put them in a list
df_loan_stats = pd.DataFrame(df_loan_data.count(), columns=['counts'], index=None)
empty_cols = list(df_loan_stats[df_loan_stats['counts'] ==0].index)

In [8]:
empty_cols

['mths_since_last_major_derog',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_il_6m',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit']

In [9]:
# lets drop the empty columns from our data
# create a new df called df_loan_data_no_mt_cols
df_loan_stats_no_mt_cols = df_loan_data.drop(columns=empty_cols)
df_loan_stats_no_mt_cols.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 57 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   member_id                   39717 non-null  int64
 2   loan_amnt                   39717 non-null  int64
 3   funded_amnt                 39717 non-null  int64
 4   funded_amnt_inv             39717 non-null  float64
 5   term                        39717 non-null  object
 6   int_rate                    39717 non-null  float64
 7   installment                 39717 non-null  float64
 8   grade                       39717 non-null  object
 9   sub_grade                   39717 non-null  object
 10  emp_title                   37258 non-null  object
 11  emp_length                  38642 non-null  object
 12  home_ownership              39717 non-null  object
 13  annual_inc                  39717 non-null  float64
 14  verification_status         39717 non-null  object
 15  issue_d                     39717 non-null  datetime64[ns]
 16  loan_status                 39717 non-null  object
 17  pymnt_plan                  39717 non-null  object
 18  url                         39717 non-null  object
 19  desc                        26777 non-null  object
 20  purpose                     39717 non-null  object
 21  title                       39705 non-null  object
 22  zip_code                    39717 non-null  object
 23  addr_state                  39717 non-null  object
 24  dti                         39717 non-null  float64
 25  delinq_2yrs                 39717 non-null  int64
 26  earliest_cr_line            39717 non-null  datetime64[ns]
 27  inq_last_6mths              39717 non-null  int64
 28  mths_since_last_delinq      14035 non-null  float64
 29  mths_since_last_record      2786 non-null   float64
 30  open_acc                    39717 non-null  int64
 31  pub_rec                     39717 non-null  int64
 32  revol_bal                   39717 non-null  int64
 33  revol_util                  39667 non-null  float64
 34  total_acc                   39717 non-null  int64
 35  initial_list_status         39717 non-null  object
 36  out_prncp                   39717 non-null  float64
 37  out_prncp_inv               39717 non-null  float64
 38  total_pymnt                 39717 non-null  float64
 39  total_pymnt_inv             39717 non-null  float64
 40  total_rec_prncp             39717 non-null  float64
 41  total_rec_int               39717 non-null  float64
 42  total_rec_late_fee          39717 non-null  float64
 43  recoveries                  39717 non-null  float64
 44  collection_recovery_fee     39717 non-null  float64
 45  last_pymnt_d                39646 non-null  datetime64[ns]
 46  last_pymnt_amnt             39717 non-null  float64
 47  next_pymnt_d                1140 non-null   datetime64[ns]
 48  last_credit_pull_d          39715 non-null  datetime64[ns]
 49  collections_12_mths_ex_med  39661 non-null  float64
 50  policy_code                 39717 non-null  int64
 51  application_type            39717 non-null  object
 52  acc_now_delinq              39717 non-null  int64
 53  chargeoff_within_12_mths    39661 non-null  float64
 54  delinq_amnt                 39717 non-null  int64
 55  pub_rec_bankruptcies        39020 non-null  float64
 56  tax_liens                   39678 non-null  float64
dtypes: datetime64[ns](5), float64(22), int64(13), object(17)
memory usage: 17.3+ MB

After dropping the empty columns, we went from 111 columns to 52. We have significanlty reduced the number of columns by dropping columns that were irrelevant. 
We can see that there are missing values in the remaining columns. We can handle the missing values by imputting the mean of the values for each missing data point. This is the preferred approach at this point. However, we might take a different approach during the exploratory data analysis (EDA) stage of the project.

In [10]:
df_clean = df_loan_stats_no_mt_cols.fillna(df_loan_stats_no_mt_cols.mean()) #took the average and plugged in values for the NaN's

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  """Entry point for launching an IPython kernel.

In [12]:
df_clean.info() #= df.dropna() #dropped rows with NaN's

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 57 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   member_id                   39717 non-null  int64
 2   loan_amnt                   39717 non-null  int64
 3   funded_amnt                 39717 non-null  int64
 4   funded_amnt_inv             39717 non-null  float64
 5   term                        39717 non-null  object
 6   int_rate                    39717 non-null  float64
 7   installment                 39717 non-null  float64
 8   grade                       39717 non-null  object
 9   sub_grade                   39717 non-null  object
 10  emp_title                   37258 non-null  object
 11  emp_length                  38642 non-null  object
 12  home_ownership              39717 non-null  object
 13  annual_inc                  39717 non-null  float64
 14  verification_status         39717 non-null  object
 15  issue_d                     39717 non-null  datetime64[ns]
 16  loan_status                 39717 non-null  object
 17  pymnt_plan                  39717 non-null  object
 18  url                         39717 non-null  object
 19  desc                        26777 non-null  object
 20  purpose                     39717 non-null  object
 21  title                       39705 non-null  object
 22  zip_code                    39717 non-null  object
 23  addr_state                  39717 non-null  object
 24  dti                         39717 non-null  float64
 25  delinq_2yrs                 39717 non-null  int64
 26  earliest_cr_line            39717 non-null  datetime64[ns]
 27  inq_last_6mths              39717 non-null  int64
 28  mths_since_last_delinq      39717 non-null  float64
 29  mths_since_last_record      39717 non-null  float64
 30  open_acc                    39717 non-null  int64
 31  pub_rec                     39717 non-null  int64
 32  revol_bal                   39717 non-null  int64
 33  revol_util                  39717 non-null  float64
 34  total_acc                   39717 non-null  int64
 35  initial_list_status         39717 non-null  object
 36  out_prncp                   39717 non-null  float64
 37  out_prncp_inv               39717 non-null  float64
 38  total_pymnt                 39717 non-null  float64
 39  total_pymnt_inv             39717 non-null  float64
 40  total_rec_prncp             39717 non-null  float64
 41  total_rec_int               39717 non-null  float64
 42  total_rec_late_fee          39717 non-null  float64
 43  recoveries                  39717 non-null  float64
 44  collection_recovery_fee     39717 non-null  float64
 45  last_pymnt_d                39646 non-null  datetime64[ns]
 46  last_pymnt_amnt             39717 non-null  float64
 47  next_pymnt_d                1140 non-null   datetime64[ns]
 48  last_credit_pull_d          39715 non-null  datetime64[ns]
 49  collections_12_mths_ex_med  39717 non-null  float64
 50  policy_code                 39717 non-null  int64
 51  application_type            39717 non-null  object
 52  acc_now_delinq              39717 non-null  int64
 53  chargeoff_within_12_mths    39717 non-null  float64
 54  delinq_amnt                 39717 non-null  int64
 55  pub_rec_bankruptcies        39717 non-null  float64
 56  tax_liens                   39717 non-null  float64
dtypes: datetime64[ns](5), float64(22), int64(13), object(17)
memory usage: 17.3+ MB

There are a few columns that still contain missing values. Upon closer inspection we can see that such columns are of type `datetime64`. We will look at these variables closer during the EDA stage to determine if the contribute any insights to our analysis.